.page-footer {
    padding: 55px 15px 36px;
    background: $footer;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 53px;
    }

    &__social-links {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__social-link {
        height: 16px;
    }

    &__menu {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 32px;
        border-bottom: 1px solid $header-line;
    }

    &__menu-link {
        color: $footer-menu;
        font-family: $inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18.884px;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__copyright {
        padding-top: 26px;
        text-align: center;
    }
}